@charset "utf-8";

#thePost {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
    float: inherit;
    margin-right: 7px;
    margin-bottom: 12px;
    
}

#verify {

    border-radius: 50%;
    width: 18px;
    height: 18px;
    object-fit: cover;
    float: right;
 
}

#paragraph {
    margin-top: -15px;
}
td {
    font-family: Arial, Helvetica, sans-serif;
}
#user {
    color: gray;
}

#post {
  font-weight: bold;  
}

body {
    zoom: 300%;
    min-width: 500px;
}